
@import "reset";
@import "home";
@import "allTasks";
@import "variables";


*, h1, h2, h3, h4, h5, h6, p, span, div{
  box-sizing: border-box;
}

html, body{
  background: #F7F7F5;
  height: 100%;
  overflow: hidden;
}

.container{
  max-width: 1200px;
}

.btn{
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  margin: 15px 0;
  &.lightBlue{
    font-size: 25px;
    background: $lightBlue;
  }
}

